<nav class="navbar navbar-expand-md navbar-dark bg-danger">
    <span class="navbar-brand"><img src="https://img.icons8.com/dusk/64/000000/pokemon.png"></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1 class="mx-auto my-4"><a routerLink="/">Pokedex</a></h1>
    <app-search-form></app-search-form>

  </nav>
  
